Flask==0.9
Flask-RESTful==0.2.1
Jinja2==2.6
Scrapy==0.16.4
Twisted==11.1.0
Twisted-Conch==11.1.0
Twisted-Core==11.1.0
Twisted-Lore==11.1.0
Twisted-Mail==11.1.0
Twisted-Names==11.1.0
Twisted-News==11.1.0
Twisted-Runner==11.1.0
Twisted-Web==11.1.0
Twisted-Words==11.1.0
Werkzeug==0.8.3
anyjson==0.3.3
apt-xapian-index==0.44
apturl==0.5.1ubuntu3
argparse==1.2.1
bson==0.3.3
gunicorn==0.17.4
httplib2==0.7.2
lxml==3.1.1
pymongo==2.5
simplejson==2.3.2
w3lib==1.2
